# <h1><center>Pipeline Project
    
The goal of this project is to practice the newly-acquired skills to build a data pipeline that processes the data and produces a result. The project should demonstrate your proficiency with the tools we covered (functions, list comprehensions, string operations, and error handling) in the pipeline.'

The dataset chosen is the S&P 500 index, which is a stock market index that measures the stock performance of 500 large companies listed on stock exchanges in the United States. It is one of the most commonly followed equity indices, and many consider it to be one of the best representations of the U.S. stock market

#### Importing packages and first impressions from database

In [75]:
import pandas as pd
import numpy as np
import requests
import wikipedia as wp

First, we are going to import the database with historic prices from companies that were listed in the index over the years:

In [76]:
#importing csv and assigning to a pandas dataframe
SP500 = pd.read_csv('C:/Users/joaos/Desktop/Curso Ironhack/Labs/data-labs/module-1/pipelines-project/all_stocks_5yr.csv')

In [77]:
#quicky look at columns and first rows
SP500.head(10)

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
5  2013-02-15  13.93  14.61  13.93  14.50  15628000  AAL
6  2013-02-19  14.33  14.56  14.08  14.26  11354400  AAL
7  2013-02-20  14.17  14.26  13.15  13.33  14725200  AAL
8  2013-02-21  13.62  13.95  12.90  13.37  11922100  AAL
9  2013-02-22  13.57  13.60  13.21  13.57   6071400  AAL

In [78]:
#checking if there are 500 companies...
SP500.Name.nunique()

505

In [98]:
SP500.Symbol.unique()

array(['AAL', 'AAPL', 'AAP', 'ABBV', 'ABC', 'ABT', 'ACN', 'ADBE', 'ADI',
       'ADM', 'ADP', 'ADSK', 'ADS', 'AEE', 'AEP', 'AES', 'AET', 'AFL',
       'AGN', 'AIG', 'AIV', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK',
       'ALLE', 'ALL', 'ALXN', 'AMAT', 'AMD', 'AME', 'AMGN', 'AMG', 'AMP',
       'AMT', 'AMZN', 'ANDV', 'ANSS', 'ANTM', 'AON', 'AOS', 'APA', 'APC',
       'APD', 'APH', 'APTV', 'ARE', 'ARNC', 'ATVI', 'AVB', 'AVGO', 'AVY',
       'AWK', 'AXP', 'AYI', 'AZO', 'A', 'BAC', 'BAX', 'BA', 'BBT', 'BBY',
       'BDX', 'BEN', 'BF.B', 'BHF', 'BHGE', 'BIIB', 'BK', 'BLK', 'BLL',
       'BMY', 'BRK.B', 'BSX', 'BWA', 'BXP', 'CAG', 'CAH', 'CAT', 'CA',
       'CBG', 'CBOE', 'CBS', 'CB', 'CCI', 'CCL', 'CDNS', 'CELG', 'CERN',
       'CFG', 'CF', 'CHD', 'CHK', 'CHRW', 'CHTR', 'CINF', 'CI', 'CLX',
       'CL', 'CMA', 'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP',
       'COF', 'COG', 'COL', 'COO', 'COP', 'COST', 'COTY', 'CPB', 'CRM',
       'CSCO', 'CSRA', 'CSX', 'CTAS', 'CTL', 'CTSH', 'CTXS', 'CVS', 'CVX',
       'CXO', 'C', 'DAL', 'DE', 'DFS', 'DGX', 'DG', 'DHI', 'DHR', 'DISCA',
       'DISCK', 'DISH', 'DIS', 'DLR', 'DLTR', 'DOV', 'DPS', 'DRE', 'DRI',
       'DTE', 'DUK', 'DVA', 'DVN', 'DWDP', 'DXC', 'D', 'EA', 'EBAY',
       'ECL', 'ED', 'EFX', 'EIX', 'EL', 'EMN', 'EMR', 'EOG', 'EQIX',
       'EQR', 'EQT', 'ESRX', 'ESS', 'ES', 'ETFC', 'ETN', 'ETR', 'EVHC',
       'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'FAST', 'FBHS', 'FB', 'FCX',
       'FDX', 'FE', 'FFIV', 'FISV', 'FIS', 'FITB', 'FLIR', 'FLR', 'FLS',
       'FL', 'FMC', 'FOXA', 'FOX', 'FRT', 'FTI', 'FTV', 'F', 'GD', 'GE',
       'GGP', 'GILD', 'GIS', 'GLW', 'GM', 'GOOGL', 'GOOG', 'GPC', 'GPN',
       'GPS', 'GRMN', 'GS', 'GT', 'GWW', 'HAL', 'HAS', 'HBAN', 'HBI',
       'HCA', 'HCN', 'HCP', 'HD', 'HES', 'HIG', 'HII', 'HLT', 'HOG',
       'HOLX', 'HON', 'HPE', 'HPQ', 'HP', 'HRB', 'HRL', 'HRS', 'HSIC',
       'HST', 'HSY', 'HUM', 'IBM', 'ICE', 'IDXX', 'IFF', 'ILMN', 'INCY',
       'INFO', 'INTC', 'INTU', 'IPG', 'IP', 'IQV', 'IRM', 'IR', 'ISRG',
       'ITW', 'IT', 'IVZ', 'JBHT', 'JCI', 'JEC', 'JNJ', 'JNPR', 'JPM',
       'JWN', 'KEY', 'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KORS',
       'KO', 'KR', 'KSS', 'KSU', 'K', 'LB', 'LEG', 'LEN', 'LH', 'LKQ',
       'LLL', 'LLY', 'LMT', 'LNC', 'LNT', 'LOW', 'LRCX', 'LUK', 'LUV',
       'LYB', 'L', 'MAA', 'MAC', 'MAR', 'MAS', 'MAT', 'MA', 'MCD', 'MCHP',
       'MCK', 'MCO', 'MDLZ', 'MDT', 'MET', 'MGM', 'MHK', 'MKC', 'MLM',
       'MMC', 'MMM', 'MNST', 'MON', 'MOS', 'MO', 'MPC', 'MRK', 'MRO',
       'MSFT', 'MSI', 'MS', 'MTB', 'MTD', 'MU', 'MYL', 'M', 'NAVI', 'NBL',
       'NCLH', 'NDAQ', 'NEE', 'NEM', 'NFLX', 'NFX', 'NI', 'NKE', 'NLSN',
       'NOC', 'NOV', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NWL',
       'NWSA', 'NWS', 'OKE', 'OMC', 'ORCL', 'ORLY', 'OXY', 'O', 'PAYX',
       'PBCT', 'PCAR', 'PCG', 'PCLN', 'PDCO', 'PEG', 'PEP', 'PFE', 'PFG',
       'PGR', 'PG', 'PHM', 'PH', 'PKG', 'PKI', 'PLD', 'PM', 'PNC', 'PNR',
       'PNW', 'PPG', 'PPL', 'PRGO', 'PRU', 'PSA', 'PSX', 'PVH', 'PWR',
       'PXD', 'PX', 'PYPL', 'QCOM', 'QRVO', 'RCL', 'REGN', 'REG', 'RE',
       'RF', 'RHI', 'RHT', 'RJF', 'RL', 'RMD', 'ROK', 'ROP', 'ROST',
       'RRC', 'RSG', 'RTN', 'SBAC', 'SBUX', 'SCG', 'SCHW', 'SEE', 'SHW',
       'SIG', 'SJM', 'SLB', 'SLG', 'SNA', 'SNI', 'SNPS', 'SO', 'SPGI',
       'SPG', 'SRCL', 'SRE', 'STI', 'STT', 'STX', 'STZ', 'SWKS', 'SWK',
       'SYF', 'SYK', 'SYMC', 'SYY', 'TAP', 'TDG', 'TEL', 'TGT', 'TIF',
       'TJX', 'TMK', 'TMO', 'TPR', 'TRIP', 'TROW', 'TRV', 'TSCO', 'TSN',
       'TSS', 'TWX', 'TXN', 'TXT', 'T', 'UAA', 'UAL', 'UA', 'UDR', 'UHS',
       'ULTA', 'UNH', 'UNM', 'UNP', 'UPS', 'URI', 'USB', 'UTX', 'VAR',
       'VFC', 'VIAB', 'VLO', 'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR',
       'VZ', 'V', 'WAT', 'WBA', 'WDC', 'WEC', 'WFC', 'WHR', 'WLTW', 'WMB',
       'WMT', 'WM', 'WRK', 'WU', 'WYNN', 'WYN', 'WY', 'XEC', 'XEL',
       'XLNX', 'XL', 'XOM', 'XRAY', 'XRX', 'XYL', 'YUM', 'ZBH', 'ZION',
       'ZTS'], dtype=object)

In [79]:
#replacing the column name "Name" to "Code" to simplify further analisys
SP500.rename(columns={'Name':'Symbol'}, inplace=True)

In [80]:
SP500.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'Symbol'], dtype='object')

#### Scrapping from Wikipedia for more data from the S&P 500 companies

In [81]:
html = wp.page("List of S&P 500 companies").html().encode("UTF-8")

In [82]:
# the wikipedia package allows you to scrap wikipedia pages in a easier way than with beaultiful soup
df = pd.read_html(html)[0]
df.to_csv('wiki_sp500.csv',header=0,index=False)
df.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [83]:
#renaming columns
df.rename(columns={'Security':'Name', 'GICS Sector': 'Sector', 'GICS Sub Industry': 'Sub_Industry'}, inplace=True)

Now, lets merge the csv database with the datable from wikipedia in one datatable with both information, the common column in both datasets are Symbol:

In [84]:
Final_df = pd.merge(SP500, df, how='left', on='Symbol')

In [96]:
Final_df.head()

,date,Name,Symbol,open,high,low,close,volume,SEC filings,Sector,Sub_Industry,Headquarters Location,Date first added,CIK,Founded
0,2013-02-08,American Airlines Group,AAL,15.07,15.12,14.63,14.75,8407500,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
1,2013-02-11,American Airlines Group,AAL,14.89,15.01,14.26,14.46,8882000,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
2,2013-02-12,American Airlines Group,AAL,14.45,14.51,14.10,14.27,8126000,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
3,2013-02-13,American Airlines Group,AAL,14.30,14.94,14.25,14.66,10259500,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
4,2013-02-14,American Airlines Group,AAL,14.94,14.96,13.16,13.99,31879900,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934

Now that we have a single table with all data lets create a function to change the columns order:

In [86]:
def changing_col_pos(column,position,df):
    '''Change the position of a column in a dataframe: parameters(column - column name, 
    pos - new index position, df - dataframe)'''
    all_cols = df.columns.tolist()
    temp = all_cols.pop(all_cols.index(column))
    all_cols.insert(position,column)
    
    df = df[all_cols]
    
    return df

In [87]:
#bringing name and Symbol to the first columns
Final_df = changing_col_pos('Name',1,Final_df)

In [88]:
Final_df = changing_col_pos('Symbol',2,Final_df)

In [89]:
Final_df

,date,Name,Symbol,open,high,low,close,volume,SEC filings,Sector,Sub_Industry,Headquarters Location,Date first added,CIK,Founded
0,2013-02-08,American Airlines Group,AAL,15.07,15.1200,14.6300,14.75,8407500,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
1,2013-02-11,American Airlines Group,AAL,14.89,15.0100,14.2600,14.46,8882000,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
2,2013-02-12,American Airlines Group,AAL,14.45,14.5100,14.1000,14.27,8126000,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
3,2013-02-13,American Airlines Group,AAL,14.30,14.9400,14.2500,14.66,10259500,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
4,2013-02-14,American Airlines Group,AAL,14.94,14.9600,13.1600,13.99,31879900,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
5,2013-02-15,American Airlines Group,AAL,13.93,14.6100,13.9300,14.50,15628000,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
6,2013-02-19,American Airlines Group,AAL,14.33,14.5600,14.0800,14.26,11354400,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
7,2013-02-20,American Airlines Group,AAL,14.17,14.2600,13.1500,13.33,14725200,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
8,2013-02-21,American Airlines Group,AAL,13.62,13.9500,12.9000,13.37,11922100,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
9,2013-02-22,American Airlines Group,AAL,13.57,13.6000,13.2100,13.57,6071400,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
10,2013-02-25,American Airlines Group,AAL,13.60,13.7600,13.0000,13.02,7186400,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
11,2013-02-26,American Airlines Group,AAL,13.14,13.4200,12.7000,13.26,9419000,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
12,2013-02-27,American Airlines Group,AAL,13.28,13.6200,13.1800,13.41,7390500,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
13,2013-02-28,American Airlines Group,AAL,13.49,13.6300,13.3900,13.43,6143600,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
14,2013-03-01,American Airlines Group,AAL,13.37,13.9500,13.3200,13.61,7376800,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
15,2013-03-04,American Airlines Group,AAL,13.50,14.0700,13.4700,13.90,8174800,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
16,2013-03-05,American Airlines Group,AAL,14.01,14.0500,13.7100,14.05,7676100,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
17,2013-03-06,American Airlines Group,AAL,14.52,14.6800,14.2500,14.57,13243200,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
18,2013-03-07,American Airlines Group,AAL,14.70,14.9300,14.5000,14.82,9125300,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
19,2013-03-08,American Airlines Group,AAL,14.99,15.2000,14.8400,14.92,10593700,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
20,2013-03-11,American Airlines Group,AAL,14.85,15.1500,14.7100,15.13,6961800,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
21,2013-03-12,American Airlines Group,AAL,15.14,15.6000,14.9500,15.50,8999100,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
22,2013-03-13,American Airlines Group,AAL,15.54,16.2000,15.4800,15.91,11380000,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
23,2013-03-14,American Airlines Group,AAL,15.98,16.3600,15.9300,16.25,8383300,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
24,2013-03-15,American Airlines Group,AAL,16.45,16.5400,15.8800,15.98,17667700,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
25,2013-03-18,American Airlines Group,AAL,15.80,16.3300,15.7100,16.29,6514100,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
26,2013-03-19,American Airlines Group,AAL,16.48,16.8500,16.4100,16.78,11805300,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
27,2013-03-20,American Airlines Group,AAL,17.13,17.3300,16.8700,17.23,10819800,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
28,2013-03-21,American Airlines Group,AAL,17.21,17.4300,16.8700,17.00,10740800,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
29,2013-03-22,American Airlines Group,AAL,17.10,17.2900,16.7700,16.86,8545200,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619010,2017-12-26,Zoetis,ZTS,72.40,72.5500,71.9000,72.34,792134,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619011,2017-12-27,Zoetis,ZTS,72.59,72.6900,72.2500,72.45,1159771,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619012,2017-12-28,Zoetis,ZTS,72.49,72.6000,72.1400,72.39,710499,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619013,2017-12-29,Zoetis,ZTS,72.55,72.7600,72.0400,72.04,1704122,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619014,2018-01-02,Zoetis,ZTS,72.54,72.5900,71.4650,71.77,2135564,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619015,2018-01-03,Zoetis,ZTS,71.77,72.1800,71.3400,72.10,2328506,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619016,2018-01-04,Zoetis,ZTS,72.75,72.9128,72.2600,72.53,2534010,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619017,2018-01-05,Zoetis,ZTS,72.83,73.9200,72.5700,73.36,2166065,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619018,2018-01-08,Zoetis,ZTS,73.43,74.4200,73.1607,74.24,3631552,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619019,2018-01-09,Zoetis,ZTS,74.70,75.4750,74.4650,75.11,2721946,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619020,2018-01-10,Zoetis,ZTS,74.58,74.8000,73.2800,73.91,2257464,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619021,2018-01-11,Zoetis,ZTS,74.05,74.6800,73.7200,74.59,1629279,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619022,2018-01-12,Zoetis,ZTS,74.91,75.6900,74.7700,75.39,1915669,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619023,2018-01-16,Zoetis,ZTS,76.06,76.4000,75.2100,75.54,2599094,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619024,2018-01-17,Zoetis,ZTS,75.81,77.0300,75.3900,76.77,2769587,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619025,2018-01-18,Zoetis,ZTS,76.65,76.6500,75.8500,76.33,2588995,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619026,2018-01-19,Zoetis,ZTS,76.69,76.9100,76.2200,76.62,4829602,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619027,2018-01-22,Zoetis,ZTS,76.67,77.5800,76.6200,77.48,4195103,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619028,2018-01-23,Zoetis,ZTS,77.30,78.3200,76.9700,77.59,2264132,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619029,2018-01-24,Zoetis,ZTS,78.16,78.5100,77.6000,78.33,2585326,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619030,2018-01-25,Zoetis,ZTS,78.47,79.3800,78.3450,79.25,2327262,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619031,2018-01-26,Zoetis,ZTS,79.49,80.1300,79.3800,80.09,2532808,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619032,2018-01-29,Zoetis,ZTS,79.81,79.9500,79.1100,79.18,2662383,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619033,2018-01-30,Zoetis,ZTS,78.44,78.6900,77.9100,78.35,3808707,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619034,2018-01-31,Zoetis,ZTS,78.49,78.7700,76.5400,76.73,4136360,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619035,2018-02-01,Zoetis,ZTS,76.84,78.2700,76.6900,77.82,2982259,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619036,2018-02-02,Zoetis,ZTS,77.53,78.1200,76.7300,76.78,2595187,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619037,2018-02-05,Zoetis,ZTS,76.64,76.9200,73.1800,73.83,2962031,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619038,2018-02-06,Zoetis,ZTS,72.74,74.5600,72.1300,73.27,4924323,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
619039,2018-02-07,Zoetis,ZTS,72.70,75.0000,72.6900,73.86,4534912,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN

In [90]:
Final_df.Name.nunique()

454

In [91]:
Final_df.Symbol.nunique()

505

In [92]:
Final_df.Sub_Industry.nunique()

122